@import "./theme/dark.css";
@import "./theme/light.css";
:root {
  --confirm_font_color: green;
  --reject_font_color: red;
  --wait_font_color: grey;
}


* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  color: var(--color);
  background-color: var(--background__color);
  transition:
    color 0.5s,
    background-color 0.5s;
}