:root[data-theme=dark] {
    --chat_background_img: url('@/assets/img/chat_background_dark.png');
    --background__color: #000000;
    --border__color: #fff;
    --color: white;
    --info_color: #000;
    --resizer_background_color:#fff;
    --chat_talk_background_color: #fff;
    --request_card_background_color: #fff;
    --request_card_font_color: #000;
    --chat_talk_font_color: #000;
    --chat_talk_border_color: #ccc;
    --aside_hover_color: #5E5E5E;
    --aside_active_color: #fff;
    --more_background_color: #fff;
    --more_font_color: #000;
    --add_form_background_color: #fff;
    --add_form_font_color: #000;
}